.page {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: var(--font-poppins);
}

.main {
  width: 100%;
  max-width: 75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
